*.xml
*.nupkg
*.psess
LICENSE.txt
CHANGES.txt
NOTICES.txt
TemporaryGeneratedFile*.cs
*.rar
*.userprefs
*.vsp
*\bin\*.*
*\obj\*.*
*/bin/*.*
*/obj/*.*
*FileListAbsolute.txt
*.dll

*.mdb

*.exe

*.xml

*.nupkg

*.nupkg
*.config
*.config
*.pdb
*.manifest
*.cache
Sweet.Jayson.Tests/bin/Debug/NET35/nunit.framework.xml

*.xml

*.xml

*.nupkg

*.zip

*.user
